################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/BH.Backend/.vs/BH.Backend
/src/BH.Backend/BH.Backend.Model/bin/Debug/net6.0
/src/BH.Backend/BH.Backend.Model/obj
/src/BH.Backend/Tests/BH.Backend.Models.Tests/bin/Debug/net6.0
/src/BH.Backend/.vs/ProjectEvaluation
/src/BH.Backend/Tests/BH.Backend.Models.Tests/obj
/src/BH.Backend/Customer/BH.Backend.CustomerService/bin/Debug/net6.0
/src/BH.Backend/Customer/BH.Backend.CustomerService/obj
/src/.vs/BH.Backend
/src/Customer/BH.Backend.CustomerService/bin/Debug/net6.0
/src/Customer/BH.Backend.CustomerService/obj
/src/Models/BH.Backend.Model/bin/Debug/net6.0
/src/Models/BH.Backend.Model/obj
/src/Models/BH.Backend.Models.Tests/bin/Debug/net6.0
/src/Models/BH.Backend.Models.Tests/obj
/src/Account/BH.Backend.AccountService/bin/Debug/net6.0
/src/Account/BH.Backend.AccountService/obj
/src/Account/BH.Backend.AccountService.Tests/bin/Debug/net6.0
/src/Account/BH.Backend.AccountService.Tests/obj
/src/.vs/ProjectEvaluation
/src/BH.Backend.API/bin/Debug/net6.0
/src/BH.Backend.API/obj
/src/BH.Backend.TransactionService/bin/Debug/net6.0
/src/BH.Backend.TransactionService/obj
/src/BH.Backend.TransactionService.Tests/bin/Debug/net6.0
/src/BH.Backend.TransactionService.Tests/obj
